#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }
  
  .header {
    text-align: center;
    color: black;
    background-color: rgb(210, 247, 184);
  }
  * {
    padding: 0px;
    margin: 0px;
  }
  
  html,
  body {
    background-color: rgb(243, 234, 234);
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .container {
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 250px 250px;
    justify-items: start;
    align-items: center;
    justify-content: center;
    place-items: stretch stretch;
    grid-gap: 10%;
    height: inherit;
    margin-top: 10px;
  }
  button {
    border-radius: 15px;
    box-shadow: 5px 5px 5px grey;
  }
  .button:hover {
    background-color: rgb(223, 240, 211);
  }
  
  .item {
    display: grid;
    grid-gap: 10px 10px;
    border: solid black 1px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px grey;
  }
  
  .img {
    min-width: 150px;
    min-height: 150px;
    max-width: 150px;
    max-height: 150px;
    place-self: center;
  }
  
  .menudescript {
    align-self: end;
    justify-self: center;
    font-size: 15px;
    font-weight: 600;
  }
  
  .footer {
    background-color: rgb(210, 247, 184);
    text-align: center;
    bottom: 0;
    width: 100%;
    margin-top: 10px;
  }
  
  .pfooter {
    display: inline;
    font-size: 20px;
  }
  
  .logo {
    max-width: 55px;
    max-height: 55px;
    padding-right: 60px;
    padding-left: 10px;
  }
  
  html,
  body{
    background-color: rgb(243, 234, 234);
  }
  .carousel {
    --current-slide: 0;
  
      position: relative;
      overflow: hidden;
      width: 100%;
  }
    
  .carousel-button {
      /* vertically centering the buttons */
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      
      /* basic styling */
      padding: 0;
      margin: 0.5rem;
      border-radius: 50%;
      background-color: transparent;
      border: none;
     
    
      font-size: 1.5rem;
      cursor: pointer;
      Z-index: 1;
  
      transition: color 0.1s;
    
  }
  
  .carousel-button:hover {
      color: rgba(0, 0, 0, 0.5);
  }
    
  .carousel-button_next {
      right: 0;
  } 
  
  .slides {
    display: flex;
    transition: transform 0.5s; 
    transform: translateX(calc(-100% * var(--current-slide)));
  }
  .slide {
    flex: 0 0 100%;
  }
  
  .text-container{
    max-width: 50ch;
    padding: 2rem;
    background-color: rgba(0,0,0,0.5);
    margin: auto;
  
    font-size: 1.5rem;
    color: white;
    text-align: justify;
  }
  
  .content-1{
    background-image: url(images/eko1.jpg),
                      url(images/eko1.jpg);
    background-position: top 20px right 40px, bottom 20px left 40px;
    background-repeat: no-repeat;
    padding: 10rem;
  }
  
  .content-2{
    width: 100%;
    background-image: url(images/45120_segregacja.jpg);
    background-position: center;
    background-repeat: no-repeat;
    padding: 1rem;
    transition: transform 1s ease-in-out;
  }
  .content-2:hover{
    transform: translateY(40px);
  }
  
  .content-3{
    background-image: url(images/globus-konturowy-pilka-3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    padding:5rem;
  }
  
  
  .content-4{
    background-image: url(images/Jak-długo-rozkładają-się-odpady.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 24rem;
  }
  
  .container-5{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  .content-5{
    margin: 0;
    padding: 0;
    position: relative;
  }
  .content-5 p{
    position: absolute;
    box-sizing: border-box;
    height: 200px;
    left: 0px;
    bottom: 0px; 
    opacity: 0;
    background-color: #111;
    color: aliceblue;
    transition: opacity 0.5s ease-in-out;
    font-size: 2rem;
    padding: 10px;
  }
  .content-5:hover p{
    opacity: 0.8;
  }
  .content-6{
    width: 100%;
    margin:auto;
  }
  .nav{
    margin:auto;
    text-align: center;
    padding: 2rem;
  }
  .container-6{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .block{
    background-color: white;
    width:20%;
    height: 500px;
    border: 2px solid black;
    border-radius: 5px;
    margin-right: 1rem;
    margin-left: 1rem;
    padding: 1rem;
    cursor: pointer;
    transition: transform 1s ease-in-out;
    margin-top: 0;
  }
  .block:hover{
    cursor: pointer;
    transform: scale(1.3);
  }
  .block-1:hover{
    transform: scale(1.3) translateX(70px);
  }
  
  .block-4:hover{
    transform: scale(1.3) translateX(-70px)
  }
  .header-6{
    text-align: right;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .forbi,.atten{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  .icon{
    width:20%;
    padding: 0;
    margin: 0;
    font-size: 2rem;
    
  }
  .info{
    width: 70%;
    padding: 0;
    margin: 0;
  }
  .container-7{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content-7{
    transition: transform .9s ease-in-out;
    width: 900px;
    height: 675px;
    margin: 0;
    padding: 0;
  }
  .content-7:hover{
    cursor: pointer;
    transform: scale(0.9);
    opacity: 0.1;
  }
  
  @media screen and (min-width: 768px) {
    .carousel-button {
      font-size: 2rem;
      margin: 1rem;
    }
  }
    
  
  @media only screen and (max-width: 570px) {
    .container {
      grid-template-columns: 250px;
      grid-template-rows: 250px;
    }
  }
  @media only screen and (min-width: 570px) and (max-width: 870px) {
    .container {
      grid-template-columns: 250px 250px;
      grid-template-rows: 250px 250px;
    }
  }
  