@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Baloo Bhaijaan 2', cursive;
  }

  .app {
      margin: 10px auto;
      display: grid;
      grid-template-columns: 70% 20%;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      position: relative;
      background: url(./img/bharath-g-s-aLGiPJ4XRO4-unsplash.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      padding: 20px;
  }

  .wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
  }

  .game-over {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    width: 400px;
    background-image: linear-gradient(to bottom, #ff8a00, #e52e71);
    height: 100%;
    transition: all 0.5s ease-in;
  }

  .game-over.active {
    display: flex;
  }

  h2 {
    margin: 10px;
  }

  .btn {
    min-width: 150px;
    border: 2px solid white;
    border-radius: 20px;
    background: white;
    padding: 10px;
    margin: 10px;
  }

  .btn:hover {
    background-color: lightyellow;
    cursor: pointer;
    
  }

  .btn-start {
    background-image:
    linear-gradient(
      to right,
      #ff8a00, #e52e71
    );
  }
  
  .btn-start.selected {
    background-image: linear-gradient(to right,#f7f6d7, #6df0ae);
  }
