#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 0px;
}

.header{
text-align:center;
color:black;
background-color:rgb(210, 247, 184);
font-family: 'Arial Narrow';
}

* {
  padding: 0px;
  margin-top: 0px;
}
html{
  /* box-sizing: border-box; */
 
}


body{
  margin:0px;
  padding:0px;
  background-color:rgb(243, 240, 240);
  
}

.container {
  display: grid;
  grid-template-columns: 250px 250px 250px;
  grid-template-rows:250px 250px;
  justify-items: center;
  align-items:center;
  justify-content: center;
  place-items: stretch stretch;
  gap: 15px 40px;
}
button{
  border-radius: 15px;
  box-shadow: 5px 5px 5px grey;
}
.button:hover{
background-color: rgb(223, 240, 211);  
cursor:pointer; 
width:260px;
height:260px;
transform: translate(-5px,-5px);
}

.item{
  display:grid;
  grid-gap: 10px 10px;
}

.img{
  min-width:150px;
  min-height:150px;
  max-width: 150px; 
  max-height: 150px;
  place-self: center;
}

.menudescript{
align-self: end; 
justify-self:center; 
font-size: 15px;
font-weight: 600;
}

.footer{
  display:flex;
  background-color:rgb(210, 247, 184);
  margin-top:10px;
  justify-content:space-around;
  align-content:center;
  align-items:center;

}

.flex-item{
  font-size:20px;
  flex-wrap: wrap;
  align-self:center;
  }
  

.logo{
  max-width:60px;
  max-height:60px;

}



@media only screen and (max-width: 570px) {

  .container {
      grid-template-columns: 250px;
      grid-template-rows: 250px;
      
  }
  
}
@media only screen and (min-width:570px) and (max-width: 870px) {

  .container {
      grid-template-columns: 250px 250px;
      grid-template-rows: 250px 250px;
      
  }
  
}